body {background-color:#FAFAFA;}
.main {
    font-family: 'Varela Round', sans-serif;
    font-size:11px;
    }

/* begin: header css ----  */

.header {padding-top:20px;
    padding-left:80px;
    padding-bottom:20px;}

.title {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    width: auto;
    }
h1 {font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    }
h2 {font-size:12px;}
h3 {font-size:12px;}

.navbar {padding-top:10px;
    font-size:11px;}
.navbar a {text-decoration: none;
        color:black;
        margin-left:none;
        margin-right:20px;}
.navbar a:hover {color:lightcoral;}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;}
.navbar li {
    display: inline;}

#contact {display:none; 
        padding-top:15px;
        padding-bottom:2px;
        border-bottom: thin solid #ECECEC;
        width: 800px;}
#contact img {width:22px; height:16px;}

#socials {display:none; 
         padding-top:5px;
        padding-bottom:0px;
        border-bottom: thin solid #ECECEC;
        width: 800px;}

.hide {
  position:absolute;
  left:-9999px
}

/* ---- end: header css */

 /* begin: index css ---- */

.boxcontainer  {
    width:580px;
    margin-left: 90px;
    margin-top: 15px;
    -webkit-transform: rotate(0);}
.boxcontainer img {height:186px;
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    -webkit-backface-visibility: hidden;}
.boxcontainer img:hover {opacity: 1.0;}


/* index ROW 1 ---- */

.row1  {
    display:grid;
    grid-template-columns:41% 38%; 
     justify-content: end;}

.bio  {background-color:#ECECEC;
    width:180px;
    height:160px;
    padding-right:25px;
    padding-top: 10px;
    padding-bottom:20px;
    padding-left:25px;}

.face {
    position: relative;
    float: left;}
.face img {opacity:.7;
    width: 220px;
    height: 190px}
.face .hoverImg img 
    {width: 70px;
    height: 54px;}
.face .hoverImg {
    position: absolute;
    left: 113px;
    top: 30px;
    display: none;}
.face:hover .hoverImg {
    display: block;}

/* index ROW 2 ---- */
/* note: ".indexvideo" is used on the index page (not ".video") ---- */

.row2  {
     padding-top:5px;
     display:grid;
    grid-template-columns:26% 20% 40%;
   }

.blog {
    position: relative;
    float: left;}
.blog .hoverImg img {width: 100px;
    height: 53px;}
.blog .hoverImg {
    position: absolute;
    left: -90px;
    top: 10px;
    display: none;}
.blog:hover .hoverImg {
    display: block;}

.indexvideo {
    position: relative;
    float: left;}
.indexvideo .hoverImg img {width: 110px;
    height: 35px;}
.indexvideo .hoverImg {
  position: absolute;
  left: 270px;
  top: 105px;
  display: none;}
.indexvideo:hover .hoverImg {
  display: block;}

/* index ROW 3 ---- */
/* note: ".indexart" is used on the index page (not ".art") ---- */

 .row3 {
     padding-top:5px;
    display:grid;
    grid-template-columns:6.5% 20% 28.5% 20% 20%;}

.indexart {
  position: relative;
  float: left;}
.indexart .hoverImg img {width: 80px;
    height: 40px;}
.indexart .hoverImg {
  position: absolute;
  left: -70px;
  top: 90px;
  display: none;}
.indexart:hover .hoverImg {
  display: block;}

.resume {
  position: relative;
  float: left;}
.resume .hoverImg img {width: 140px;
    height: 43px;}
.resume .hoverImg {
  position: absolute;
  left: 20px;
  top: 185px;
  display: none;}
.resume:hover .hoverImg {
  display: block;}

 .photojournal {
    position: relative;
    float: left;}
.photojournal .hoverImg img 
    {width: 120px;
    height: 60px;}
.photojournal .hoverImg {
    position: absolute;
    left: 138px;
    top: 100px;
    display: none;}
.photojournal:hover .hoverImg {
    display: block;}

    /* begin: footer css ----  */

.codeby  {font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    float:right;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding:5px;
    font-size: 10px;
    margin-bottom:40px;
   }
.codeby a {text-decoration: none;
    color: black;}
.codeby a:hover {color:lightcoral;}

.footer {padding-right:33px;
        margin-top:10px;
    position: relative; 
    bottom: 0;
    right: 0;
    }

.indexart {
  position: relative;
  float: left;}
.indexart .hoverImg img {width: 80px;
    height: 40px;}
.indexart .hoverImg {
  position: absolute;
  left: -70px;
  top: 90px;
  display: none;}
.indexart:hover .hoverImg {
  display: block;}

    /* ----  end: footer css */
    /* ----  end: index css */


 /* begin: under construction css ---- */

.underconstruction {font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    width:50%;
    margin: 0 auto;
padding-top:50px;}

    /* end: under construction css */


    /* begin: video page css */
.video img {
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    -webkit-backface-visibility: hidden;
}
.video img:hover {opacity: 1.0;}
.video {
    display:grid;
    grid-template-columns:62% 50%;
    margin-left:30px;
    width:650px;}

.videocolumnleft {
    width:400;}
.videocolumnright {
    padding-left:30px;
    width:300;}

.videotext1 {}
.videotext2 {margin-top:160px;}
.videotext3 {margin-top:370px;}
.videotext4 {margin-top:370px;}

    /* ----  end: video page css */


    /* begin: art page css ----  */

.art {
    display:grid;
    grid-template-columns:59% 50%;
margin-left:30px;
width:650px;
margin-top:30px;}
.art h2 {font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    }

.artcolumnleft {
    width:400;}
.artcolumnright {
    padding-left:30px;
    width:300;}

.artcolumnleft img {width:375px;
    padding-bottom:5px;}

.arttext2 {}
.arttext2 {margin-top:275px;}
.arttext3 {margin-top:410px;}
.arttext4 {}
.arttext5 {} 

    /* ---- end: art page css */


   /* ---- code box*/
.htmlbox {height:200px;
           width:800px;
            border:1px solid #ccc;
            overflow:auto;}
.htmlbox code { font:monospace;
                font-size:3;
             }

.cssbox {height:200px;
           width:800px;
            border:1px solid #ccc;
            overflow:auto;}
.cssbox code { font:monospace;
                font-size:3;
             }
   